*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# test files specific
*.csfasta
*.qual
*.fastq*
*.vcf
*.sam

# Scala-IDE specific
.scala_dependencies
